<!DOCTYPE html>
<html>
<head>
	<title>Email Send Notice</title>

</head>
<body>
	<h1 style="text-align: center; position: relative; top: 200px;">Your Email Was Sent!</h1>
	<form action= "/">
		<input type="submit" value="Return to IvyWire" style="position: relative; top: 3px; left: 0px;">
	</form>

</body>
</html>